/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.nav-container {
    background-color: white;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
}

.nav-left , .nav-right {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    list-style: none;
}

.nav-list li {
    font-size: 0.8em;
    display: inline-block;
    margin: 0 10px;
}

#logo {
    height: 30px;
    margin: 0 20px;
}

.base-button {
    color: white;
    background-color: #0052FF;
    border: none;
    padding: 10px 15px;
}

div.base-button {
    margin: 0 20px;
}

header > .container {
    display: flex;
    max-width: 100%;
    min-height: 60vh;
    background-color: #ACCBE4;
    justify-content: center;
}

.jumbo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    position: relative;
    top: 60px;
}

.jumbo > h1 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info * {
    margin: 10px 0; 
}

/* MAIN */

.small-info {
    width: 28%;
    display: inline-block;
}

.big-info {
    display: inline-block;
    width: 68%;
}

.big-info img {
    width: 100%;
    height: 100%;
}

.fa-arrow-down {
    font-size: 2.5em;
}

main {
    height: 95vh;
}

main .container {
    max-width: 1200px;
    margin: 0 auto;
    
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;

}

main .container h2 {
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 2em;
    text-align: left;
}

.container label {
    margin-right: 20px;
}

.my-row {
    flex-wrap: wrap;
    margin: 0 -10px;
}

.my-row.big-gutter {
    margin: 0 -20px;
    display: flex;
    align-items: stretch;
}

.my-row.big-gutter .col-1-3 {
    width: calc((100% / 3) - 40px);
    margin: 0 20px;
}

.col-1-3 {
    width: calc((100% / 3) - 20px);
    margin: 0 10px;
}

.my-row.big-gutter .col-full {
    width: calc(100% - 40px);
    margin: 40px 20px;
}

main .col-1-3 .pricing-content, .feature-col {
    padding: 20px 40px;
    min-height: 500px;
}

main .col-full .pricing-content {
    padding: 20px 40px;
    width: 70%;
}

main .col-full .pricing-col {
    position: relative;
}

main .col-full .col-full-button {
    position: absolute;
    right: 40px;
    top: 80px;
}

main .pricing-content > p {
    padding: 10px 0;
}

main .pricing-header {
    text-align: center;
    padding: 10px 0;
}

main .pricing-col {
    border: 2px solid lightgray;
}

main .pricing-header {
    border-bottom: 2px solid lightgray;
}

main .container-small .pricing-content hr {
    color: lightgray;
    width: 30%;
    text-align: left;
    margin: 20px 0 ;
    padding: 0;
}

.feature-col .fa-check {
    color: #0052FF;
}

.feature-col {
    border-top: none;
}

.feature-col * {
    padding: 10px 0;
}

.bold {
    font-weight: bold;
}

.periodo {
    color: gray;
}

section > .container {
    display: flex;
}

.cont-70 {
    width: 70%;
    position: relative;
    margin-right: 20px;
}

.cont-70 > img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.cont-30 {
    width: 30%;
}

#partner-button {
    color: gray;
    border: 2px solid gray;
    background-color: white;
    margin: 20px 0;
}

/* debug */

/* .debug .big-info {
    border: 5px dashed red;
    background-color: lightcoral;
} */

/* .debug .pricing-col {
    min-height: 300px;
    border: 3px dashed black;
    background-color: chartreuse;
} */

/* .debug .cont-70, .cont-30 {
    background-color: aquamarine;
    border: 2px dashed red;
    min-height: 500px;
} */