/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 5vh;
}

.nav_container {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.nav_left , .nav_right {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    padding: 0 20px;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_list ul {
    list-style: none;
}

.nav_list li {
    font-size: 0.8em;
    display: inline-block;
    margin: 0 10px;
}

#logo {
    height: 30px;
    margin: 0 20px;
}

.base_button {
    color: white;
    background-color: #0052FF;
    border: none;
    padding: 10px 15px;
}

div.base_button {
    margin: 0 20px;
}

header > .container {
    height: 60vh;
    background-color: #ACCBE4;
}

.jumbo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    position: relative;
    top: 80px;
}

.jumbo > h1 {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 40px;
}

.jumbo > .text {
    width: 100%;
    align-items: left;
}

.jumbo > img {
    width: 70%;
    position: absolute;
    bottom: 30px;
    right: 0;

}

.text * {
    margin: 20px 0; 
}

.text > p {
    width: 30%;
}

.fa-arrow-down {
    position: absolute;
    bottom: 100px;
    left: 0;
    font-size: 5em;
}